@charset "utf-8";
/* CSS Document */
body{ width:100%; height:auto; margin:0px; padding:0px;font-family:"微软雅黑";}
*{ margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑";}
a{ text-decoration:none; color:#333333;}
.divclear{ clear:both; height:0px;}
ul{ padding:0px; margin:0px;}
li{ list-style:none;}
img{ border:0px;}
.t_left{ float:left;}
.t_right{ float:right;}
.align_left{ text-align:left;}
.align_right{ text-align:right; }
.align_center{ text-align:center;}
#border{ border:none; padding-right:0px;}

/*内容*/
.contain{ width:100%; height:1070px; min-width:1200px;}
.conter{ width:1200px; height:959px; margin:0 auto;}
.number{ width:1028px; height:30px; margin:0 auto; padding-bottom:60px; padding-top:46px;}
.number li{ width:195px; height:30px; padding-right:10px; float:left;}
.number li a:hover{ color:#519409;}
.num{ width:30px; height:30px; background:#FFF; border-radius:25px; border: 1px solid #b4b4b4; float:left;}
.num a{ font-size:22px;height:30px; line-height:30px; display:block; color:#b4b4b4; text-align:center;}
.text{ padding-left:42px; padding-top:6px;}
.text a{ font-size:16px; color:#6c6c6c;}
.solid{ height:1px;width:68px; float:right; background:url(../images/solid.png) no-repeat center center;}
.huo{ background:#f0f0f0; width:1200px; height:44px; line-height:44px; padding-left:33px;}
.huo p{ font-size:16px; color:#6c6c6c;}
.dingdan{ width:1118px; height:auto; margin:0 auto;padding-top:30px; padding-bottom:16px;}
.dingdan p{ font-size:16px; color:#6c6c6c; font-weight:bold;}
.border{ width:1118px; height:481px; margin:0 auto;}
.border td{ text-align:center; font-size:12px; color:#5c5c5c; border:1px solid #e5e5e5;}
.border_l{border: 1px solid #e5e5e5;}
.first td{ font-size:14px; color:#5c5c5c;}
.middle_l{ width:1200px; height:65px; padding-top:35px;}
.middle{ width:1108px; height:65px; margin:0 auto; border-bottom:1px solid #e5e5e5;}
.middle p{ font-size:12px; color:#5c5c5c;}
.middle_n{ width:223px; height:20px; float:right;}
.middle_m{width:102px; height:30px; float:right;}
.middle a{ color:#164ac1;}
.foot{ width:1200px; height:174px; margin:0 auto; border-bottom:1px solid #e5e5e5;}
.foot_l{ width:491px; height:116px; padding-top:29px; padding-left:50px; line-height:22px; float:left;}
.botton{ float:right; padding-top:103px; padding-right:50px;}
.first td{ border:none;}

/* ------钱包支付------ */
.fk_cont{ width:1198px; border:1px solid #e4e4e4;}
.order_tj{ background:#f0f0f0; width:1138px; line-height:30px; padding:10px 30px;}
.order_tjt{ border-bottom:1px solid #dbdbdb;}
.order_tjt .t_left{ width:500px;}
.order_tjt .t_left dl dt{ font-size:14px; font-weight:bold; color:#6c6c6c;}
.order_tjt .t_right div i{ color:#dc241e; font-weight:bold; font-size:16px;}
.order_tjt .t_right span.clk1{ display:block; width:100px; text-align:right; padding-right:10px; background:url(../images/fk_up.png) no-repeat right center; color:#174bc5; cursor:pointer;}
.order_tjt .t_right span.clk2{ display:block; width:100px; text-align:right; padding-right:10px; background:url(../images/fk_down.png) no-repeat right center; color:#174bc5; cursor:pointer;}
.ord_ads{ line-height:20px; padding-top:10px; display:none;}
.qb_zf{ border:1px solid #b2e0c7; width:1138px; margin:20px auto; padding:25px 0 50px;}
.qb_zf .t_left{ display:inline-block; width:475px;}
.qb_zf .t_left dl dt{ background:url(../images/fk_bt.png) no-repeat 40px center; font-size:16px; color:#454545; padding-left:75px;}
.qb_zf .t_left dl dd{ padding-top:15px; padding-left:75px;}
.qb_pwd{ width:348px; padding:0 10px 0 40px; border:1px solid #e4e4e4; background:url(../images/fk_in.png) no-repeat 15px center; height:30px; line-height:30px; color:#888;}
.sub_zf{ float:left; width:180px; padding-left:20px; height:48px; color:#fff; background:url(../images/fk_btn.png) #519409 no-repeat 25px center; font-size:14px; font-weight:bold; border:none; cursor:pointer;}
.sub_zf:hover{ background:url(../images/fk_btn.png) red no-repeat 25px center;  }
.clo_zf{ float:right; width:180px; height:48px; color:#fff; background:#bfbfbf; font-size:14px; font-weight:bold; border:none; cursor:pointer;}
.clo_zf:hover{background:#519409;}
.qb_zf .t_right{ display:inline-block; width:176px; text-align:right; padding-right:10px;}
.qb_zf .t_right i{ color:#dc241e; font-size:16px; font-weight:bold;}
